# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Hugo template files - NO auto-formatting
[*.html]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = false
indent_style = unset
indent_size = unset

# Hugo template files in themes directory
[themes/**/*.html]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = false
indent_style = unset
indent_size = unset

# Hugo template files in layouts directory
[layouts/**/*.html]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = false
indent_style = unset
indent_size = unset

# Hugo template files in partials directory
[**/partials/*.html]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = false
indent_style = unset
indent_size = unset

# Hugo template files in series directory
[**/series/*.html]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = false
indent_style = unset
indent_size = unset

# Default settings for other files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# JavaScript files
[*.js]
indent_style = space
indent_size = 2

# CSS files
[*.css]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
